absl-py
aiohttp
aiosignal
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arviz
asttokens
async-timeout
attrs
autopep8
backcall
bambi
beautifulsoup4
black
ffmpeg
flake8
graphviz
grpcio
huggingface_hub
ipykernel
ipython
ipywidgets
isort
jupyter
markdown
mccabe
multiprocess
munkres
mypy
networkx
nlpaug
nltk
numpy
opencv-python
pandas
pandoc
patsy
pillow
polars
psutil
ptyprocess
pyarrow
pycodestyle
pymc
pytest
python-dateutil
pytz
requests
rsa
ruff
sacremoses
scalene
scikit-learn
scipy
seaborn
setuptools
six
statsmodels
sympy
tensorboard

--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
tornado
tqdm
transformers
xgboost
faiss-cpu
scikit-multilearn